# Module 2 Summative Lab

## Introduction

For today's section, we're going to work on a single big lab to apply everything we've learned in Module 2!

## About This Lab

A quick note before getting started--this lab isn't like other labs you seen so far. This lab is meant to take ~8 hours to complete, so it's much longer and more challenging that the average labs you've seen so far. If you feel like this lab is challenging or that you might be struggling a bit, don't fret--that's by design! With everything we've learned about Web Scraping, APIs, and Databases, the best way to test our knowledge of it is to build something substantial! 

## The Project

In this lab, we're going to make use of everything we've learned about APIs, databases, and Object-Oriented Programming to **_Extract, Transform, and Load_** (or **_ETL_**, for short) some data from a SQL database into a MongoDB Database. 

You'll find a database containing information about soccer teams and the matches they've played in the file `database.sqlite`. For this project, our goal is to get the data we think is important from this SQL database, do some calculations and data transformation, and then store everything in a MongoDB database. 

Let's get into the specifics of this project.

### The Goal

Start by examining the data dictionary for the SQL database we'll be working with, which comes from this [kaggle page](https://www.kaggle.com/laudanum/footballdelphi).  Familiarize yourself with the tables it contains, and what each column means. We'll be using this database to get data on each soccer team, calculate some summary statistics, and then store each in a MongoDB database. 

Upon completion of this lab, each unique team in this dataset should have a record in the MongoDB instance containing the following information:

* The name of the team
* The total number of goals scored by the team during the 2011 season
* The total number of wins the team earned during the 2011 season
* A histogram visualization of the team's wins and losses for the 2011 season (store the visualization directly)
* The team's win percentage on days where it was raining during games in the 2011 season. 

#### Getting the Weather Data

Note that for this last calculation, you'll need to figure out if it was raining or not during the game. The database itself does not contain this information, but it does contain the date on which the game was played. For this, you'll need to use the [DarkSky API](https://darksky.net/dev) to get the historical weather data for that day. Note that each game is played in a different location, and this information is not contained in our SQL database. However, the teams in this database are largely german, so go ahead and just use the weather in Berlin, Germany as a proxy for this information. If it was raining in Berlin on the day the game was played, count that as rain game--**_you do not need to try and figure out the actual weather at each game's location, because we don't have that information!_**

#### NOTE: The DarkSky API is limited to 1000 free API calls a day, so be sure to test your model on very small samples. Otherwise, you'll hit the rate limit!

## Project Architecture

Unlike previous labs, this lab is more open-ended, and will require you to make design decisions and plan out your strategy for building a system with this many working parts. However, **_using Object-Oriented Programming is a requirement for this project--you must create at least 2 separate, well structured classes in your solution!_** Although it may seem easier to "just start coding", this is a classic beginner's mistake. Instead, think about separating out the different functionalities you'll need to reach your goal, and then build classes to handle each. For instance, at minimum, you'll need to:

* Query the SQL database
* Calculate summary statistics
* Get the weather data from the DarkSky API
* Load the data into MongoDB

We **_strongly recommend_** you consider creating separate classes for handling at least some of these of these tasks.  Be sure to plan the inputs, outputs, and methods for each class before you begin coding! 

**_NOTE:_** We have provided some empty classes below. You are welcome to delete them and use a different architecture for this project if you so choose.  You do not have to use each of them, they are just there to give you an idea of what you could sorts of classes you may want to consider using.

### Rapid Prototyping and Refactoring

It's totally okay to try to get a task working without using OOP. For instance, when experimenting with the DarkSky API for getting historical weather data, it makes sense to just write the code in the cells and rapidly iterate until you get it all working. However, once you get it working, you're not done--you should then **_Refactor_** your code into functions or classes to make your code more modular, reusable, understandable, and maintainable! 

In short--do what you need to do to get each separate piece of functionality working, and then refactor it into a class after you've figured it out!

### Some Final Advice

You haven't built anything this big or complex thus far, so you may not yet fully realize how much trial and error goes into it. If your code keeps breaking, resist the urge to get frustrated, and just keep working. Software development is an iterative process!  No one writes perfect code that works the first time for something this involved. You're going to run into _a lot_ of small errors in this project, right up until the point where it just works, and then you're done! However, you can reduce these errors by planning out your code, and thinking about how all of the pieces fit together before you begin coding. Once you have some basic understanding of how it all will work, then you'll know what you need to build, and then all that is left is to build it!

In short:

* Plan ahead--you'll thank yourself later!
* Errors and broken code aren't bad, they're normal. 
* Keep working, and stay confident--you can do this!

Good luck--we look forward to seeing your completed project!

## Import

In [20]:
import sqlite3
import pandas as pd

## Connections

In [21]:
conn = sqlite3.connect('database.sqlite')
cur = conn.cursor()

## Table: Matches

- Match_ID (int): unique ID per match
- Div (str): identifies the division the match was played in (D1 = Bundesliga, D2 = Bundesliga 2, E0 = English Premier League)
- Season (int): Season the match took place in (usually covering the period of August till May of the following year)
- Date (str): Date of the match
- HomeTeam (str): Name of the home team
- AwayTeam (str): Name of the away team
- FTHG (int) (Full Time Home Goals): Number of goals scored by the home team
- FTAG (int) (Full Time Away Goals): Number of goals scored by the away team
- FTR (str) (Full Time Result): 3-way result of the match (H = Home Win, D = Draw, A = Away Win)

In [78]:
# Matches from the 2011 season.

cur.execute("""SELECT * FROM matches WHERE season = 2011;""")
df_matches = pd.DataFrame(cur.fetchall())
df_matches.columns = [i[0] for i in cur.description]
display(df_matches.head())
display(df_matches.info())
# display(df_matches.isna().sum())
# display(df_matches.describe())
df_matches.Date.sort_values()

   Match_ID Div  Season        Date   HomeTeam       AwayTeam  FTHG  FTAG FTR
0      1092  D1    2011  2012-03-31   Nurnberg  Bayern Munich     0     1   A
1      1093  D1    2011  2011-12-11  Stuttgart  Bayern Munich     1     2   A
2      1094  D1    2011  2011-08-13  Wolfsburg  Bayern Munich     0     1   A
3      1095  D1    2011  2011-11-27      Mainz  Bayern Munich     3     2   H
4      1096  D1    2011  2012-02-18   Freiburg  Bayern Munich     0     0   D

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 992 entries, 0 to 991
Data columns (total 9 columns):
Match_ID    992 non-null int64
Div         992 non-null object
Season      992 non-null int64
Date        992 non-null object
HomeTeam    992 non-null object
AwayTeam    992 non-null object
FTHG        992 non-null int64
FTAG        992 non-null int64
FTR         992 non-null object
dtypes: int64(4), object(5)
memory usage: 69.8+ KB

None

41     2011-07-15
75     2011-07-15
459    2011-07-15
586    2011-07-16
458    2011-07-16
350    2011-07-17
54     2011-07-17
510    2011-07-17
268    2011-07-18
413    2011-07-22
504    2011-07-22
575    2011-07-22
433    2011-07-23
169    2011-07-23
607    2011-07-24
482    2011-07-24
298    2011-07-24
371    2011-07-25
592    2011-08-05
127    2011-08-05
521    2011-08-05
453    2011-08-05
145    2011-08-06
102    2011-08-06
38     2011-08-06
374    2011-08-06
200    2011-08-06
341    2011-08-06
219    2011-08-06
556    2011-08-06
          ...
178    2012-05-05
115    2012-05-05
518    2012-05-06
979    2012-05-06
978    2012-05-06
977    2012-05-06
976    2012-05-06
975    2012-05-06
591    2012-05-06
973    2012-05-06
974    2012-05-06
66     2012-05-06
43     2012-05-06
264    2012-05-06
436    2012-05-06
448    2012-05-06
460    2012-05-06
76     2012-05-06
980    2012-05-07
981    2012-05-08
989    2012-05-13
988    2012-05-13
987    2012-05-13
986    2012-05-13
982    2012-05-13
984    2012-05-13
983    2012-05-13
990    2012-05-13
985    2012-05-13
991    2012-05-13
Name: Date, Length: 992, dtype: object

In [23]:
cur.execute("""SELECT * FROM sqlite_sequence;""")
df_sqlite_sequence = pd.DataFrame(cur.fetchall())
df_sqlite_sequence.columns = [i[0] for i in cur.description]
display(df_sqlite_sequence.head())
display(df_sqlite_sequence.info())
display(df_sqlite_sequence.isna().sum())

           name    seq
0       Matches  46774
1  Unique_Teams    128

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
name    2 non-null object
seq     2 non-null int64
dtypes: int64(1), object(1)
memory usage: 112.0+ bytes

None

name    0
seq     0
dtype: int64

## Table: Teams

- Season (str): Football season for which the data is valid
- TeamName (str): Name of the team the data concerns
- KaderHome (str): Number of Players in the squad
- AvgAgeHome (str): Average age of players
- ForeignPlayersHome (str): Number of foreign players (non-German, non-English respectively) playing for the team
- OverallMarketValueHome (str): Overall market value of the team pre-season in EUR (based on data from transfermarkt.de)
- AvgMarketValueHome (str): Average market value (per player) of the team pre-season in EUR (based on data from transfermarkt.de)
- StadiumCapacity (str): Maximum stadium capacity of the team's home stadium

In [24]:
# Teams in 2011 season.

cur.execute("""SELECT * FROM teams WHERE season = 2011;""")
df_teams = pd.DataFrame(cur.fetchall())
df_teams.columns = [i[0] for i in cur.description]
display(df_teams.head())
display(df_teams.info())
display(df_teams.isna().sum())
display(df_teams.describe())

,Season,TeamName,KaderHome,AvgAgeHome,ForeignPlayersHome,OverallMarketValueHome,AvgMarketValueHome,StadiumCapacity
0,2011,Bayern Munich,24,25,11,335600000,13980000,75000
1,2011,Dortmund,28,24,12,158200000,5650000,81359
2,2011,Leverkusen,29,23,9,151100000,5210000,30210
3,2011,Schalke 04,37,24,20,136730000,3700000,62271
4,2011,Werder Bremen,38,23,17,125350000,3300000,42100

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 8 columns):
Season                    36 non-null object
TeamName                  36 non-null object
KaderHome                 36 non-null object
AvgAgeHome                36 non-null object
ForeignPlayersHome        36 non-null object
OverallMarketValueHome    36 non-null object
AvgMarketValueHome        36 non-null object
StadiumCapacity           36 non-null object
dtypes: object(8)
memory usage: 2.3+ KB

None

Season                    0
TeamName                  0
KaderHome                 0
AvgAgeHome                0
ForeignPlayersHome        0
OverallMarketValueHome    0
AvgMarketValueHome        0
StadiumCapacity           0
dtype: int64

,Season,TeamName,KaderHome,AvgAgeHome,ForeignPlayersHome,OverallMarketValueHome,AvgMarketValueHome,StadiumCapacity
count,36,36,36,36,36,36,36,36
unique,1,36,14,4,16,36,36,19
top,2011,Kaiserslautern,32,24,11,59080000,534000,47728
freq,36,1,5,19,4,1,1,18

## Table: Teams_in_Matches

- Match_ID (int): Unique match ID
- Unique_Team_ID (int): Unique team ID (This table is used to easily retrieve each match a given team has played in)

In [25]:
cur.execute("""SELECT * FROM teams_in_matches;""")
df_teams_in_matches = pd.DataFrame(cur.fetchall())
df_teams_in_matches.columns = [i[0] for i in cur.description]
display(df_teams.head())
display(df_teams.info())
display(df_teams_in_matches.isna().sum())
display(df_teams_in_matches.describe())

,Season,TeamName,KaderHome,AvgAgeHome,ForeignPlayersHome,OverallMarketValueHome,AvgMarketValueHome,StadiumCapacity
0,2011,Bayern Munich,24,25,11,335600000,13980000,75000
1,2011,Dortmund,28,24,12,158200000,5650000,81359
2,2011,Leverkusen,29,23,9,151100000,5210000,30210
3,2011,Schalke 04,37,24,20,136730000,3700000,62271
4,2011,Werder Bremen,38,23,17,125350000,3300000,42100

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 8 columns):
Season                    36 non-null object
TeamName                  36 non-null object
KaderHome                 36 non-null object
AvgAgeHome                36 non-null object
ForeignPlayersHome        36 non-null object
OverallMarketValueHome    36 non-null object
AvgMarketValueHome        36 non-null object
StadiumCapacity           36 non-null object
dtypes: object(8)
memory usage: 2.3+ KB

None

Match_ID          0
Unique_Team_ID    0
dtype: int64

           Match_ID  Unique_Team_ID
count  49148.000000    49148.000000
mean   27325.139924       52.903028
std    16647.432504       38.825678
min        1.000000        1.000000
25%     6144.000000       17.000000
50%    34485.500000       42.000000
75%    40631.000000       90.000000
max    46774.000000      128.000000

## Table: Unique Teams

- TeamName (str): Name of a team
- Unique_Team_ID (int): Unique identifier for each team

In [26]:
cur.execute("""SELECT * FROM unique_teams;""")
df_unique_teams = pd.DataFrame(cur.fetchall())
df_unique_teams.columns = [i[0] for i in cur.description]
display(df_unique_teams.head())
display(df_unique_teams.info())
display(df_unique_teams.isna().sum())

        TeamName  Unique_Team_ID
0  Bayern Munich               1
1       Dortmund               2
2     Leverkusen               3
3     RB Leipzig               4
4     Schalke 04               5

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 2 columns):
TeamName          128 non-null object
Unique_Team_ID    128 non-null int64
dtypes: int64(1), object(1)
memory usage: 2.1+ KB

None

TeamName          0
Unique_Team_ID    0
dtype: int64

## The Goal

- The name of the team
- The total number of goals scored by the team during the 2011 season
- The total number of wins the team earned during the 2011 season
- A histogram visualization of the team's wins and losses for the 2011 season (store the visualization directly)
- The team's win percentage on days where it was raining during games in the 2011 season.

## Team Name and Total Number of Goals per Team in 2011

In [27]:
# DataFrame df_goals_home is grouped by df_matches HomeTeam and total goals when they were the home team.

df_goals_home = pd.DataFrame(df_matches.groupby('HomeTeam').FTHG.sum().reset_index())
df_goals_home.head()

        HomeTeam  FTHG
0         Aachen    15
1        Arsenal    39
2    Aston Villa    20
3       Augsburg    20
4  Bayern Munich    49

In [28]:
# DataFrame df_goals_away is grouped by df_matches AwayTeam and total goals when they were the away team.

df_goals_away = pd.DataFrame(df_matches.groupby('AwayTeam').FTAG.sum().reset_index())
df_goals_away.head()

        AwayTeam  FTAG
0         Aachen    15
1        Arsenal    35
2    Aston Villa    17
3       Augsburg    16
4  Bayern Munich    28

In [29]:
# Merged or joined DataFrames df_home_team and df_away_team as a new DataFrame df_goals.

df_goals = df_goals_home.merge(df_goals_away, how = 'outer', left_on = 'HomeTeam', right_on = 'AwayTeam')
df_goals.head()

        HomeTeam  FTHG       AwayTeam  FTAG
0         Aachen    15         Aachen    15
1        Arsenal    39        Arsenal    35
2    Aston Villa    20    Aston Villa    17
3       Augsburg    20       Augsburg    16
4  Bayern Munich    49  Bayern Munich    28

In [30]:
# Created a new column in df_goals titled Goals that adds the goals from FTHG and FTAG.

df_goals['Goals'] = df_goals.FTHG + df_goals.FTAG
df_goals.head()

        HomeTeam  FTHG       AwayTeam  FTAG  Goals
0         Aachen    15         Aachen    15     30
1        Arsenal    39        Arsenal    35     74
2    Aston Villa    20    Aston Villa    17     37
3       Augsburg    20       Augsburg    16     36
4  Bayern Munich    49  Bayern Munich    28     77

In [31]:
# Dropped three columns in df_goals FTHG, AwayTeam, and FTAG.

df_goals = df_goals.drop(columns = ['FTHG', 'AwayTeam', 'FTAG'])
df_goals.head()

        HomeTeam  Goals
0         Aachen     30
1        Arsenal     74
2    Aston Villa     37
3       Augsburg     36
4  Bayern Munich     77

In [32]:
# Renamed the column in df_goals HomeTeam to Teams.

df_goals = df_goals.rename(columns = {'HomeTeam': 'Teams'})
df_goals.head()

           Teams  Goals
0         Aachen     30
1        Arsenal     74
2    Aston Villa     37
3       Augsburg     36
4  Bayern Munich     77

## Number of Wins  in 2011

In [33]:
# DataFrame df_wins_home filters for home wins.

df_wins_home = df_matches[df_matches['FTR'] == 'H']
df_wins_home.head()

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
3,1095,D1,2011,2011-11-27,Mainz,Bayern Munich,3,2,H
5,1097,D1,2011,2012-01-20,M'gladbach,Bayern Munich,3,1,H
9,1101,D1,2011,2011-10-23,Hannover,Bayern Munich,2,1,H
11,1103,D1,2011,2012-03-03,Leverkusen,Bayern Munich,2,0,H
16,1108,D1,2011,2012-04-11,Dortmund,Bayern Munich,1,0,H

In [34]:
# df_matches.head()

In [35]:
# DataFrame df_wins_away filters for away wins.

df_wins_away= df_matches[df_matches['FTR'] == 'A']
df_wins_away.head()

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1092,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A
1,1093,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A
2,1094,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A
7,1099,D1,2011,2012-04-21,Werder Bremen,Bayern Munich,1,2,A
8,1100,D1,2011,2011-09-18,Schalke 04,Bayern Munich,0,2,A

In [36]:
# DataFrame df_loses_away filters for away loss.

df_loses_away = df_matches[df_matches['FTR'] == 'H']
df_loses_away.head()

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
3,1095,D1,2011,2011-11-27,Mainz,Bayern Munich,3,2,H
5,1097,D1,2011,2012-01-20,M'gladbach,Bayern Munich,3,1,H
9,1101,D1,2011,2011-10-23,Hannover,Bayern Munich,2,1,H
11,1103,D1,2011,2012-03-03,Leverkusen,Bayern Munich,2,0,H
16,1108,D1,2011,2012-04-11,Dortmund,Bayern Munich,1,0,H

In [37]:
# Overwrote df_loses_away with a groupby of HomeTeam and count of each win.

df_loses_home = pd.DataFrame(df_loses_home.groupby('HomeTeam').FTR.count().reset_index())
df_loses_home.head()

NameError: name 'df_loses_home' is not defined

In [38]:
# Overwrote df_loses_home with a groupby of HomeTeam and count of each win.

df_wins_home = pd.DataFrame(df_wins_home.groupby('HomeTeam').FTR.count().reset_index())
df_wins_home.head()

        HomeTeam  FTR
0         Aachen    4
1        Arsenal   12
2    Aston Villa    4
3       Augsburg    6
4  Bayern Munich   14

In [39]:
# Overwrote df_wins_away with a groupby of AwayTeam and count of each win.

df_wins_away = pd.DataFrame(df_wins_away.groupby('AwayTeam').FTR.count().reset_index())
df_wins_away.head()

        AwayTeam  FTR
0         Aachen    2
1        Arsenal    9
2    Aston Villa    3
3       Augsburg    2
4  Bayern Munich    9

In [40]:
# Merged or joined DataFrames df_wins_home and df_wins_away as a new DataFrame df_wins.
# change left to outer
df_wins = df_wins_home.merge(df_wins_away, how = 'outer', left_on = 'HomeTeam', right_on = 'AwayTeam')
df_wins.head()

        HomeTeam  FTR_x       AwayTeam  FTR_y
0         Aachen      4         Aachen      2
1        Arsenal     12        Arsenal      9
2    Aston Villa      4    Aston Villa      3
3       Augsburg      6       Augsburg      2
4  Bayern Munich     14  Bayern Munich      9

In [41]:
# Created a new column in df_wins titled Wins that adds the wins from FTR_x and FTR_y.

df_wins['Wins'] = df_wins.FTR_x + df_wins.FTR_y
df_wins.head()

        HomeTeam  FTR_x       AwayTeam  FTR_y  Wins
0         Aachen      4         Aachen      2     6
1        Arsenal     12        Arsenal      9    21
2    Aston Villa      4    Aston Villa      3     7
3       Augsburg      6       Augsburg      2     8
4  Bayern Munich     14  Bayern Munich      9    23

In [42]:
# Dropped three columns in df_wins FTR_x, AwayTeam, and FTR_y.

df_wins = df_wins.drop(columns = ['FTR_x', 'AwayTeam', 'FTR_y'])
df_wins.head()

        HomeTeam  Wins
0         Aachen     6
1        Arsenal    21
2    Aston Villa     7
3       Augsburg     8
4  Bayern Munich    23

In [43]:
# Renamed the column in df_wins HomeTeam to Teams.

df_wins = df_wins.rename(columns = {'HomeTeam': 'Teams'})
df_wins.head()

           Teams  Wins
0         Aachen     6
1        Arsenal    21
2    Aston Villa     7
3       Augsburg     8
4  Bayern Munich    23

In [44]:
# Merged or joined DataFrames df_goals and df_wins as a new DataFrame df_goals.

df_goals = df_goals.merge(df_wins, how = 'outer')
df_goals.head()
df_goals.nunique() ## I have

Teams    56
Goals    37
Wins     21
dtype: int64

# Number of Loses

In [45]:
# DataFrame df_loses_home filters for home loss.

df_loses_home = df_matches[df_matches['FTR'] == 'A']
df_loses_home.head()

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1092,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A
1,1093,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A
2,1094,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A
7,1099,D1,2011,2012-04-21,Werder Bremen,Bayern Munich,1,2,A
8,1100,D1,2011,2011-09-18,Schalke 04,Bayern Munich,0,2,A

In [46]:
# DataFrame df_loses_away filters for away loss.

df_loses_away = df_matches[df_matches['FTR'] == 'H']
df_loses_away.head()

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
3,1095,D1,2011,2011-11-27,Mainz,Bayern Munich,3,2,H
5,1097,D1,2011,2012-01-20,M'gladbach,Bayern Munich,3,1,H
9,1101,D1,2011,2011-10-23,Hannover,Bayern Munich,2,1,H
11,1103,D1,2011,2012-03-03,Leverkusen,Bayern Munich,2,0,H
16,1108,D1,2011,2012-04-11,Dortmund,Bayern Munich,1,0,H

In [59]:
# Overwrote df_loses_away with a groupby of HomeTeam and count of each win.

df_loses_home = pd.DataFrame(df_loses_home.groupby('HomeTeam').FTR.count().reset_index())
df_loses_home.head()

        HomeTeam  FTR
0         Aachen    1
1        Arsenal    1
2    Aston Villa    1
3       Augsburg    1
4  Bayern Munich    1

In [60]:
# Overwrote df_loses_away with a groupby of AwayTeam and count of each win.

df_loses_away = pd.DataFrame(df_loses_away.groupby('AwayTeam').FTR.count().reset_index())
df_loses_away.head()

        AwayTeam  FTR
0         Aachen    1
1        Arsenal    1
2    Aston Villa    1
3       Augsburg    1
4  Bayern Munich    1

In [49]:
# Merged or joined DataFrames df_loses_home and df_loses_away as a new DataFrame df_loses.

df_loses = df_loses_home.merge(df_loses_away, how = 'outer', left_on = 'HomeTeam', right_on = 'AwayTeam')
df_loses

              HomeTeam  FTR_x            AwayTeam  FTR_y
0               Aachen    7.0              Aachen      8
1              Arsenal    3.0             Arsenal      7
2          Aston Villa    8.0         Aston Villa      6
3             Augsburg    4.0            Augsburg      8
4        Bayern Munich    2.0       Bayern Munich      5
5            Blackburn   12.0           Blackburn     11
6               Bochum    7.0              Bochum     10
7               Bolton   11.0              Bolton     11
8         Braunschweig    3.0        Braunschweig      6
9              Chelsea    4.0             Chelsea      6
10             Cottbus    5.0             Cottbus     10
11            Dortmund    1.0            Dortmund      2
12             Dresden    4.0             Dresden      9
13            Duisburg    7.0            Duisburg      8
14       Ein Frankfurt    1.0       Ein Frankfurt      5
15      Erzgebirge Aue    5.0      Erzgebirge Aue     10
16             Everton    6.0             Everton      6
17             FC Koln    8.0             FC Koln     12
18  Fortuna Dusseldorf    1.0  Fortuna Dusseldorf      3
19       Frankfurt FSV    4.0       Frankfurt FSV      9
20            Freiburg    5.0            Freiburg      9
21              Fulham    4.0              Fulham     10
22      Greuther Furth    2.0      Greuther Furth      2
23             Hamburg    7.0             Hamburg      7
24       Hansa Rostock    7.0       Hansa Rostock     10
25              Hertha   10.0              Hertha      7
26          Hoffenheim    4.0          Hoffenheim      9
27          Ingolstadt    3.0          Ingolstadt     10
28      Kaiserslautern   10.0      Kaiserslautern      9
29           Karlsruhe    6.0           Karlsruhe     13
30          Leverkusen    5.0          Leverkusen      5
31           Liverpool    4.0           Liverpool     10
32          M'gladbach    1.0          M'gladbach      7
33               Mainz    7.0               Mainz      6
34          Man United    2.0          Man United      3
35         Munich 1860    5.0         Munich 1860      6
36           Newcastle    3.0           Newcastle      8
37             Norwich    6.0             Norwich      9
38            Nurnberg    7.0            Nurnberg      9
39           Paderborn    2.0           Paderborn      5
40                 QPR    7.0                 QPR     14
41          Schalke 04    3.0          Schalke 04      7
42            St Pauli    2.0            St Pauli      6
43               Stoke    4.0               Stoke     11
44           Stuttgart    4.0           Stuttgart      7
45          Sunderland    5.0          Sunderland     10
46             Swansea    4.0             Swansea     11
47           Tottenham    3.0           Tottenham      6
48        Union Berlin    4.0        Union Berlin     10
49       Werder Bremen    5.0       Werder Bremen      9
50           West Brom   10.0           West Brom      7
51               Wigan    7.0               Wigan     10
52           Wolfsburg    5.0           Wolfsburg     11
53              Wolves   13.0              Wolves     10
54                 NaN    NaN            Hannover     10
55                 NaN    NaN            Man City      5

In [50]:
df_loses = df_loses.fillna(0)
df_loses

              HomeTeam  FTR_x            AwayTeam  FTR_y
0               Aachen    7.0              Aachen      8
1              Arsenal    3.0             Arsenal      7
2          Aston Villa    8.0         Aston Villa      6
3             Augsburg    4.0            Augsburg      8
4        Bayern Munich    2.0       Bayern Munich      5
5            Blackburn   12.0           Blackburn     11
6               Bochum    7.0              Bochum     10
7               Bolton   11.0              Bolton     11
8         Braunschweig    3.0        Braunschweig      6
9              Chelsea    4.0             Chelsea      6
10             Cottbus    5.0             Cottbus     10
11            Dortmund    1.0            Dortmund      2
12             Dresden    4.0             Dresden      9
13            Duisburg    7.0            Duisburg      8
14       Ein Frankfurt    1.0       Ein Frankfurt      5
15      Erzgebirge Aue    5.0      Erzgebirge Aue     10
16             Everton    6.0             Everton      6
17             FC Koln    8.0             FC Koln     12
18  Fortuna Dusseldorf    1.0  Fortuna Dusseldorf      3
19       Frankfurt FSV    4.0       Frankfurt FSV      9
20            Freiburg    5.0            Freiburg      9
21              Fulham    4.0              Fulham     10
22      Greuther Furth    2.0      Greuther Furth      2
23             Hamburg    7.0             Hamburg      7
24       Hansa Rostock    7.0       Hansa Rostock     10
25              Hertha   10.0              Hertha      7
26          Hoffenheim    4.0          Hoffenheim      9
27          Ingolstadt    3.0          Ingolstadt     10
28      Kaiserslautern   10.0      Kaiserslautern      9
29           Karlsruhe    6.0           Karlsruhe     13
30          Leverkusen    5.0          Leverkusen      5
31           Liverpool    4.0           Liverpool     10
32          M'gladbach    1.0          M'gladbach      7
33               Mainz    7.0               Mainz      6
34          Man United    2.0          Man United      3
35         Munich 1860    5.0         Munich 1860      6
36           Newcastle    3.0           Newcastle      8
37             Norwich    6.0             Norwich      9
38            Nurnberg    7.0            Nurnberg      9
39           Paderborn    2.0           Paderborn      5
40                 QPR    7.0                 QPR     14
41          Schalke 04    3.0          Schalke 04      7
42            St Pauli    2.0            St Pauli      6
43               Stoke    4.0               Stoke     11
44           Stuttgart    4.0           Stuttgart      7
45          Sunderland    5.0          Sunderland     10
46             Swansea    4.0             Swansea     11
47           Tottenham    3.0           Tottenham      6
48        Union Berlin    4.0        Union Berlin     10
49       Werder Bremen    5.0       Werder Bremen      9
50           West Brom   10.0           West Brom      7
51               Wigan    7.0               Wigan     10
52           Wolfsburg    5.0           Wolfsburg     11
53              Wolves   13.0              Wolves     10
54                   0    0.0            Hannover     10
55                   0    0.0            Man City      5

In [51]:
# Created a new column in df_loses titled Wins that adds the wins from FTR_x and FTR_y.

df_loses['Loses'] = df_loses.FTR_x + df_loses.FTR_y
df_loses

              HomeTeam  FTR_x            AwayTeam  FTR_y  Loses
0               Aachen    7.0              Aachen      8   15.0
1              Arsenal    3.0             Arsenal      7   10.0
2          Aston Villa    8.0         Aston Villa      6   14.0
3             Augsburg    4.0            Augsburg      8   12.0
4        Bayern Munich    2.0       Bayern Munich      5    7.0
5            Blackburn   12.0           Blackburn     11   23.0
6               Bochum    7.0              Bochum     10   17.0
7               Bolton   11.0              Bolton     11   22.0
8         Braunschweig    3.0        Braunschweig      6    9.0
9              Chelsea    4.0             Chelsea      6   10.0
10             Cottbus    5.0             Cottbus     10   15.0
11            Dortmund    1.0            Dortmund      2    3.0
12             Dresden    4.0             Dresden      9   13.0
13            Duisburg    7.0            Duisburg      8   15.0
14       Ein Frankfurt    1.0       Ein Frankfurt      5    6.0
15      Erzgebirge Aue    5.0      Erzgebirge Aue     10   15.0
16             Everton    6.0             Everton      6   12.0
17             FC Koln    8.0             FC Koln     12   20.0
18  Fortuna Dusseldorf    1.0  Fortuna Dusseldorf      3    4.0
19       Frankfurt FSV    4.0       Frankfurt FSV      9   13.0
20            Freiburg    5.0            Freiburg      9   14.0
21              Fulham    4.0              Fulham     10   14.0
22      Greuther Furth    2.0      Greuther Furth      2    4.0
23             Hamburg    7.0             Hamburg      7   14.0
24       Hansa Rostock    7.0       Hansa Rostock     10   17.0
25              Hertha   10.0              Hertha      7   17.0
26          Hoffenheim    4.0          Hoffenheim      9   13.0
27          Ingolstadt    3.0          Ingolstadt     10   13.0
28      Kaiserslautern   10.0      Kaiserslautern      9   19.0
29           Karlsruhe    6.0           Karlsruhe     13   19.0
30          Leverkusen    5.0          Leverkusen      5   10.0
31           Liverpool    4.0           Liverpool     10   14.0
32          M'gladbach    1.0          M'gladbach      7    8.0
33               Mainz    7.0               Mainz      6   13.0
34          Man United    2.0          Man United      3    5.0
35         Munich 1860    5.0         Munich 1860      6   11.0
36           Newcastle    3.0           Newcastle      8   11.0
37             Norwich    6.0             Norwich      9   15.0
38            Nurnberg    7.0            Nurnberg      9   16.0
39           Paderborn    2.0           Paderborn      5    7.0
40                 QPR    7.0                 QPR     14   21.0
41          Schalke 04    3.0          Schalke 04      7   10.0
42            St Pauli    2.0            St Pauli      6    8.0
43               Stoke    4.0               Stoke     11   15.0
44           Stuttgart    4.0           Stuttgart      7   11.0
45          Sunderland    5.0          Sunderland     10   15.0
46             Swansea    4.0             Swansea     11   15.0
47           Tottenham    3.0           Tottenham      6    9.0
48        Union Berlin    4.0        Union Berlin     10   14.0
49       Werder Bremen    5.0       Werder Bremen      9   14.0
50           West Brom   10.0           West Brom      7   17.0
51               Wigan    7.0               Wigan     10   17.0
52           Wolfsburg    5.0           Wolfsburg     11   16.0
53              Wolves   13.0              Wolves     10   23.0
54                   0    0.0            Hannover     10   10.0
55                   0    0.0            Man City      5    5.0

In [52]:
# Dropped three columns in df_loses FTR_x, AwayTeam, and FTR_y.

df_loses = df_loses.drop(columns = ['FTR_x', 'AwayTeam', 'FTR_y'])
df_loses

              HomeTeam  Loses
0               Aachen   15.0
1              Arsenal   10.0
2          Aston Villa   14.0
3             Augsburg   12.0
4        Bayern Munich    7.0
5            Blackburn   23.0
6               Bochum   17.0
7               Bolton   22.0
8         Braunschweig    9.0
9              Chelsea   10.0
10             Cottbus   15.0
11            Dortmund    3.0
12             Dresden   13.0
13            Duisburg   15.0
14       Ein Frankfurt    6.0
15      Erzgebirge Aue   15.0
16             Everton   12.0
17             FC Koln   20.0
18  Fortuna Dusseldorf    4.0
19       Frankfurt FSV   13.0
20            Freiburg   14.0
21              Fulham   14.0
22      Greuther Furth    4.0
23             Hamburg   14.0
24       Hansa Rostock   17.0
25              Hertha   17.0
26          Hoffenheim   13.0
27          Ingolstadt   13.0
28      Kaiserslautern   19.0
29           Karlsruhe   19.0
30          Leverkusen   10.0
31           Liverpool   14.0
32          M'gladbach    8.0
33               Mainz   13.0
34          Man United    5.0
35         Munich 1860   11.0
36           Newcastle   11.0
37             Norwich   15.0
38            Nurnberg   16.0
39           Paderborn    7.0
40                 QPR   21.0
41          Schalke 04   10.0
42            St Pauli    8.0
43               Stoke   15.0
44           Stuttgart   11.0
45          Sunderland   15.0
46             Swansea   15.0
47           Tottenham    9.0
48        Union Berlin   14.0
49       Werder Bremen   14.0
50           West Brom   17.0
51               Wigan   17.0
52           Wolfsburg   16.0
53              Wolves   23.0
54                   0   10.0
55                   0    5.0

In [53]:
# Renamed the column in df_loses HomeTeam to Teams.

df_loses = df_loses.rename(columns = {'HomeTeam': 'Teams'})
df_loses.head()
df_loses.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56 entries, 0 to 55
Data columns (total 2 columns):
Teams    56 non-null object
Loses    56 non-null float64
dtypes: float64(1), object(1)
memory usage: 1.3+ KB

In [54]:
# Merged or joined DataFrames df_goals and df_loses as a new DataFrame df_goals.

df_goals = df_goals.merge(df_loses , how = 'letf')
df_goals

KeyError: 'letf'

In [55]:
df_loses.head()

           Teams  Loses
0         Aachen   15.0
1        Arsenal   10.0
2    Aston Villa   14.0
3       Augsburg   12.0
4  Bayern Munich    7.0

Match_ID    992
Div           3
Season        1
Date        165
HomeTeam     56
AwayTeam     56
FTHG          9
FTAG          7
FTR           3
dtype: int64

In [57]:
 # Hannover" doest have any looses
# display(df_matches[df_matches['HomeTeam'] == 'Hannover'])
# display(df_matches[df_matches['AwayTeam'] == 'Hannover'])

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
9,1101,D1,2011,2011-10-23,Hannover,Bayern Munich,2,1,H
26,1118,D1,2011,2011-09-18,Hannover,Dortmund,2,1,H
101,1193,D1,2011,2012-03-18,Hannover,FC Koln,4,1,H
106,1198,D1,2011,2012-04-22,Hannover,Freiburg,0,0,D
130,1222,D1,2011,2011-11-26,Hannover,Hamburg,1,1,D
137,1229,D1,2011,2012-05-05,Hannover,Kaiserslautern,2,1,H
183,1275,D1,2011,2011-12-10,Hannover,Leverkusen,0,0,D
188,1280,D1,2011,2012-01-27,Hannover,Nurnberg,1,0,H
208,1300,D1,2011,2011-11-06,Hannover,Schalke 04,2,2,D
234,1326,D1,2011,2012-02-19,Hannover,Stuttgart,4,2,H
239,1331,D1,2011,2011-10-02,Hannover,Werder Bremen,3,2,H
312,1404,D1,2011,2011-08-21,Hannover,Hertha,1,1,D
335,1427,D1,2011,2011-08-28,Hannover,Mainz,1,1,D
388,1480,D1,2011,2012-04-11,Hannover,Wolfsburg,2,0,H
398,1490,D1,2011,2012-04-01,Hannover,M'gladbach,2,1,H
536,1628,D1,2011,2012-03-03,Hannover,Augsburg,2,2,D
556,1648,D1,2011,2011-08-06,Hannover,Hoffenheim,2,1,H

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
272,1364,D1,2011,2012-03-24,Bayern Munich,Hannover,2,1,H
273,1365,D1,2011,2011-11-19,Wolfsburg,Hannover,4,1,H
274,1366,D1,2011,2012-04-14,Hamburg,Hannover,1,0,H
275,1367,D1,2011,2011-10-16,FC Koln,Hannover,2,0,H
276,1368,D1,2011,2011-09-24,Augsburg,Hannover,0,0,D
277,1369,D1,2011,2012-04-08,Schalke 04,Hannover,3,0,H
278,1370,D1,2011,2011-12-18,Kaiserslautern,Hannover,1,1,D
279,1371,D1,2011,2011-08-13,Nurnberg,Hannover,1,2,A
280,1372,D1,2011,2012-04-28,Leverkusen,Hannover,1,0,H
281,1373,D1,2011,2012-02-26,Dortmund,Hannover,3,1,H
282,1374,D1,2011,2012-02-11,Mainz,Hannover,1,1,D
283,1375,D1,2011,2012-01-21,Hoffenheim,Hannover,0,0,D
284,1376,D1,2011,2012-03-11,Werder Bremen,Hannover,3,0,H
285,1377,D1,2011,2012-02-04,Hertha,Hannover,0,1,A
286,1378,D1,2011,2011-10-29,M'gladbach,Hannover,2,1,H
287,1379,D1,2011,2011-09-10,Stuttgart,Hannover,3,0,H
288,1380,D1,2011,2011-12-03,Freiburg,Hannover,1,1,D

In [58]:
# Hannover loose 10 away but hannover didnt loose at home. this is why e are goignt have a null value???
df_loses_home

              HomeTeam  FTR
0               Aachen    7
1              Arsenal    3
2          Aston Villa    8
3             Augsburg    4
4        Bayern Munich    2
5            Blackburn   12
6               Bochum    7
7               Bolton   11
8         Braunschweig    3
9              Chelsea    4
10             Cottbus    5
11            Dortmund    1
12             Dresden    4
13            Duisburg    7
14       Ein Frankfurt    1
15      Erzgebirge Aue    5
16             Everton    6
17             FC Koln    8
18  Fortuna Dusseldorf    1
19       Frankfurt FSV    4
20            Freiburg    5
21              Fulham    4
22      Greuther Furth    2
23             Hamburg    7
24       Hansa Rostock    7
25              Hertha   10
26          Hoffenheim    4
27          Ingolstadt    3
28      Kaiserslautern   10
29           Karlsruhe    6
30          Leverkusen    5
31           Liverpool    4
32          M'gladbach    1
33               Mainz    7
34          Man United    2
35         Munich 1860    5
36           Newcastle    3
37             Norwich    6
38            Nurnberg    7
39           Paderborn    2
40                 QPR    7
41          Schalke 04    3
42            St Pauli    2
43               Stoke    4
44           Stuttgart    4
45          Sunderland    5
46             Swansea    4
47           Tottenham    3
48        Union Berlin    4
49       Werder Bremen    5
50           West Brom   10
51               Wigan    7
52           Wolfsburg    5
53              Wolves   13

#Figurate

In [ ]:

import matplotlib.pyplot as plt
%matplotlib inline
hist = plt.hist(d)
plt.show()

 - The team's win percentage on days where it was raining during games in the 2011 season.

## Web Scrapping

In [ ]:
import requests
page = requests.get("http://dataquestio.github.io/web-scraping-pages/simple.html")
page

In [ ]:
page.status_code

In [ ]:
if page.status_code == 200:
    print('go')

In [ ]:
key = 'cd1046ee98eec3e0f87367a0fbfcb817'

# Summary

In this lab, we dug deep and used everything we've learned so far about python programming, databases, HTTP requests and API calls to ETL data from a SQL database into a MongoDB instance!

In [67]:
df_matches.columns

Index(['Match_ID', 'Div', 'Season', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG',
       'FTAG', 'FTR'],
      dtype='object')

In [71]:
df_matches.Date.dtype

dtype('O')

In [73]:
df_matches.Date

0      2012-03-31
1      2011-12-11
2      2011-08-13
3      2011-11-27
4      2012-02-18
5      2012-01-20
6      2012-02-04
7      2012-04-21
8      2011-09-18
9      2011-10-23
10     2011-10-01
11     2012-03-03
12     2011-08-27
13     2012-03-17
14     2011-11-06
15     2012-05-05
16     2012-04-11
17     2011-08-27
18     2011-12-17
19     2012-02-18
20     2012-02-03
21     2011-08-13
22     2011-10-29
23     2012-01-22
24     2011-12-03
25     2012-04-14
26     2011-09-18
27     2012-03-25
28     2012-03-10
29     2012-04-07
          ...
962    2012-04-28
963    2012-04-28
964    2012-04-28
965    2012-04-29
966    2012-04-29
967    2012-04-30
968    2012-05-01
969    2012-05-01
970    2012-05-02
971    2012-05-02
972    2012-05-05
973    2012-05-06
974    2012-05-06
975    2012-05-06
976    2012-05-06
977    2012-05-06
978    2012-05-06
979    2012-05-06
980    2012-05-07
981    2012-05-08
982    2012-05-13
983    2012-05-13
984    2012-05-13
985    2012-05-13
986    2012-05-13
987    2012-05-13
988    2012-05-13
989    2012-05-13
990    2012-05-13
991    2012-05-13
Name: Date, Length: 992, dtype: object

In [79]:
import requests
import json

In [80]:
resp = requests.get('https://darksky.net/dev')

In [81]:
resp

In [84]:
resp.text

'<!DOCTYPE html>\n<html>\n  <head>\n    <meta charset="utf-8">\n    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">\n    <title>Dark Sky \n</title>\n\n    <link href="/favicon.ico" rel="shortcut icon" sizes="32x32 16x16" type="image/x-icon">\n    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" type="text/css"/>\n    <link href="/dev/css/vendor/normalize.css" rel="stylesheet" type="text/css">\n    <link href="/dev/css/vendor/flexboxgrid.min.css" rel="stylesheet" type="text/css">\n    <link href="/dev/css/style.css" rel="stylesheet" type="text/css">\n    <link href="/dev/css/responsive.css" rel="stylesheet" type="text/css">\n\n    <script type="application/ld+json">\n      {\n        "@context": "http://schema.org",\n        "@type": "WebSite",\n        "name": "Dark Sky",\n        "url": "https://darksky.net"\n      }\n    </script>\n    <script type="application/ld+json">\n      {\n        "@context": "http://schema.org",\n        "@type": "Organization",\n        "url"  : "https://darksky.net",\n        "logo" : "https://darksky.net/dev/img/logo.png",\n        "sameAs": [\n          "https://www.linkedin.com/company/the-dark-sky-company",\n          "https://twitter.com/darkskyapp"\n        ]\n      }\n    </script>\n\n    \n<meta name="description" content="The Dark Sky API allows you to request weather forecasts and historical weather data programmatically. It is the easiest, most advanced weather API on the web.">\n\n\n      <link rel="stylesheet" href="/dev/css/dev_page.css"/>\n  <link href="/dev/css/responsive.css" rel="stylesheet" type="text/css"/>\n\n    <script>\n      (function(i,s,o,g,r,a,m){i[\'GoogleAnalyticsObject\']=r;i[r]=i[r]||function(){\n        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),\n        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)\n      })(window,document,\'script\',\'https://www.google-analytics.com/analytics.js\',\'ga\');\n\n      ga(\'create\', \'UA-27611241-4\', \'auto\');\n      ga(\'send\', \'pageview\');\n\n      function handleOutboundLinkClicks(event) {\n        ga("send", "event", {\n          eventCategory: "App Store Link",\n          eventAction: "click",\n          eventLabel: event.target.href,\n          transport: \'beacon\'\n        });\n      }\n\n      function handleOutboundHomepageLink(event) {\n        ga("send", "event", {\n          eventCategory: "App Store Link On Home Page",\n          eventAction: "click",\n          eventLabel: event.target.href,\n          transport: \'beacon\'\n        });\n      }\n    </script>\n  </head>\n\n  <body>\n    <header class="header">\n      <div class="header-container">\n        <div class="wrap container-fluid">\n          <div class="header">\n            <div class="header-logo">\n              <a class="logo" href="/dev/">\n                <span class="svg-logo-container">\n                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000">\n                    <path fill="#FFF" d="M 485 165 C 526 154 568 149 597 147 545 68 512 18 496 0 496 0 493 61 371 210 393 198 438 177 485 165 Z"/>\n                    <path fill="#FFF" d="M 460 868 C 434 800 427 722 427 722 L 387 745 C 387 745 368 680 361 614 354 550 361 486 361 486 L 308 507 C 308 507 304 430 317 356 325 307 340 261 349 236 348 238 346 240 344 242 236 367 144 491 144 644 144 841 303 1000 499 1000 509 1000 519 1000 529 999 513 974 481 923 460 868 Z"/>\n                    <path fill="#FFF" d="M 643 216 C 631 198 620 181 610 166 590 187 561 222 537 259 502 312 482 370 482 370 L 560 346 C 560 346 519 417 499 491 480 555 482 624 482 624 L 536 599 C 536 599 512 688 510 792 508 883 526 965 535 998 714 980 853 829 855 644 856 484 739 359 643 216 Z"/>\n                  </svg>\n                </span>\n    \n                <span class="logo company-name">Dark Sky API</span>\n              </a>\n            </div>\n    \n            <div class="header-links">\n              <nav class="nav">\n                <ul class="links">\n                  <li><a href="/dev/docs">Docs</a></li>\n                  <li><a href="/dev/docs/faq">FAQ</a></li>\n    \n                    <li class="divider"></li>\n                    <li><a class="button" href="/dev/login">Log In</a></li>\n                    <li><a class="button filled" href="/dev/register">Sign Up</a></li>\n                </ul>\n              </nav>\n            </div>\n    \n          </div> <!-- row -->\n        </div> <!-- wrap container-fluid -->\n      </div>\n    </header>\n    \n      <div class="centered section signup">\n    <h2>Dark Sky API</h2>\n    <p>The easiest, most advanced, weather API on the web.</p>\n\n    <a class="button" href="/dev/register">\n      TRY FOR FREE\n    </a>\n  </div>\n\n\n    <div class="main wrap container-fluid">\n        <div class="centered section offer">\n    <div class="offer-container">\n      <div>\n\n        <div id="offer-box-container">\n\n        <div class="offer-box">\n          <p>Easy to Use</p>\n          <div class="pricing-img-container"><img src="/dev/img/010-protection-edited.png"></div>\n          <div>\n            <ul>\n              <li>Get setup in minutes</li>\n              <li>Developer friendly</li>\n              <li>Clear and concise documentation</li>\n              <li>Pay-as-you-go pricing</li>\n            </ul>\n          </div>\n        </div>\n\n        <div class="offer-box">\n          <p>Weather Conditions</p>\n          <div class="pricing-img-container"><img src="/dev/img/006-rain.svg"></div>\n          <div>\n            <ul>\n              <li>Forecasts and current conditions</li>\n              <li>Global coverage</li>\n              <li>Historical data</li>\n              <li>Severe weather alerts</li>\n            </ul>\n          </div>\n        </div>\n\n        <div class="offer-box">\n          <p>Advanced Data</p>\n          <div class="pricing-img-container"><img src="/dev/img/012-programming-edited.png"></div>\n          <div>\n            <ul>\n              <li>Cutting-edge forecast modeling techniques</li>\n              <li>Minute-by-minute hyperlocal forecasts</li>\n              <li>Backed by a wide range of <a href="/dev/docs#data-sources">data sources</a></li>\n            </ul>\n          </div>\n        </div>\n\n      </div>\n\n      </div>\n      <div><a class="button" href="/dev/docs">LEARN MORE</a></div>\n    </div>\n  </div>\n\n  <div class="centered section pricing">\n    <h2>Dead Simple Pricing</h2>\n    <div class="pricing-container">\n      <div class="pricing-box">\n        <a href="/dev/register">\n        <div class="pricing-box-header">\n          <p class="pricing-header-text">Standard</p>\n          <p>$0.0001<span>&nbsp;per call</span></p>\n          <p>Pay-as-you-go</p>\n        </div>\n        <div class="pricing-box-text">\n          <ul>\n            <li>1,000 Calls Per Day for Free</li>\n            <li>Online Signup</li>\n            <li>Pay by Credit Card</li>\n            <li>Standard Terms of Service</li>\n          </ul>\n          <div class="pricing-button-container">\n            <a class="button pricing-button" href="/dev/register">SIGN UP</a>\n          </div>\n        </div>\n      </a>\n      </div>\n        <div class="pricing-box">\n          <a href="mailto:sales@darksky.net">\n          <div class="pricing-box-header">\n            <p class="pricing-header-text">Enterprise</p>\n            <p>Contact Us</p>\n          </div>\n          <div class="pricing-box-text">\n            <ul>\n              <li>Volume Discounts</li>\n              <li>Uptime SLA</li>\n              <li>Custom Billing + Invoicing</li>\n              <li>Enterprise Terms of Service</li>\n            </ul>\n            <div class="pricing-button-container">\n              <a class="button pricing-button" href="mailto:sales@darksky.net">CONTACT US</a>\n            </div>\n          </div>\n          </a>\n        </div>\n    </div>\n  </div>\n\n  <div class="centered section companies">\n      <div class="companies-container">\n        <p class="head">Here are just some of the organizations that rely on our data:</p>\n        <div id="companyWall">\n          <div class="company">\n            <a href="http://www.jcdecaux.com" target="_blank">\n              <img src="/dev/img/logos/jcdecaux.png"/>\n            </a>\n          </div>\n          <div class="company">\n            <a href="https://yelp.com" target="_blank">\n              <img src="/dev/img/logos/yelp.png"/>\n            </a>\n          </div>\n          <div class="company">\n            <a href="http://www.microsoft.com" target="_blank">\n              <img src="/dev/img/logos/microsoft.png"/>\n            </a>\n          </div>\n          <div class="company">\n            <a href="http://citymapper.com" target="_blank">\n              <img src="/dev/img/logos/citymapper.png" style="max-width:120px;"/>\n            </a>\n          </div>\n          <div class="company">\n            <a href="http://coned.com/" target="_blank">\n              <img src="/dev/img/logos/conedison.png"/>\n            </a>\n          </div>\n          <div class="company">\n            <a href="https://runkeeper.com/" target="_blank">\n              <img src="/dev/img/logos/runkeeper.jpg"/>\n            </a>\n          </div>\n          <div class="company">\n            <a href="https://science.jpl.nasa.gov" target="_blank">\n              <img src="/dev/img/logos/jpl.png"/>\n            </a>\n          </div>\n          <div class="company">\n            <a href="https://duckduckgo.com/" target="_blank">\n              <img src="/dev/img/logos/ddg.png"/>\n            </a>\n          </div>\n          <div class="company">\n            <a href="https://www.fossilgroup.com/" target="_blank">\n              <img src="/dev/img/logos/fossil.gif"/>\n            </a>\n          </div>\n        </div>\n      </div>\n    </div>\n\n  <div class="centered section start">\n    <h2>Get started today for free.</h2>\n    <a class="button" href="/dev/register">\n      TRY NOW\n    </a>\n  </div>\n\n    </div>\n\n    <div id="footer">\n      <ul>\n        <li><a href="https://darksky.net">Dark Sky</a></li>\n        <li><a href="mailto:info@darksky.net">Inquiries</a></li>\n        <li><a href="http://status.darksky.net/">Status</a></li>\n        <li><a href="mailto:developer@darksky.net">Support</a></li>\n        <li><a href="/dev/docs/terms">Terms of Service</a></li>\n        <li><a href="/dev/docs/privacy">Privacy Policy</a></li>\n      </ul>\n      <div class="copyright">\n        <span class="copyright">\n          &copy;2012&ndash;2019 The Dark Sky Company, LLC.&nbsp;\n        </span>\n        <span class="trademark">"Dark Sky" and the raindrop logo are trademarks of The Dark Sky Company, LLC.</span>\n      </div>\n    </div>\n      <script src="/dev/js/vendor/jquery.min.js"></script>\n  <script src="/dev/js/vendor/jquery.selectric.js"></script>\n  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" type="text/css"/>\n\n  </body>\n</html>\n'

In [85]:
data = json.loads(resp.text)
print(data)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)