<h1 style='text-align: center'>SQL Queries</h1>

## Getting Data From A SQL Database

### The Structure of a SQL Query

<img src='images/sql_statement.jpg'/>

#### SELECT

- What columns of data do we want? 
- Specify by column names or * (All)

FROM:

- Where are we getting our data from? 
- Specify by table name or use join statement to join multiple tables

##### JOIN

- Use to join multiple tables 
- SELECT * FROM students join favorite_foods on students.id = favorite_foods.student_id
- SELECT * FROM students as s join favorite_foods as f on s.id = f.student_id

#### WHERE

- apply some filter to the data you are querying 
- define criteria for data that should selected from the database 
- SELECT * from students WHERE age > 10 
- ```agregate funcion apply to every single row in a column```

#### GROUP BY

- Group columns by similar values
- SELECT COUNT(id), city from students GROUP BY city
-``` group by one is an alias of the first element```

#### HAVING

- Use to apply filter AFTER you have made your initial query 
- When should we use HAVING instead of WHERE

In [1]:
import sqlite3

conn = sqlite3.connect('tutorial.db')
c = conn.cursor()

In [2]:
# Load students.json file

#your code here
import json
f=open('students.json','r')
data=json.load(f) 
print(data)

[{'name': 'Sean Abu Wilson', 'birthdate': '02/06', 'siblings': 2, 'Birthplace': 'Birmingham, AL', 'yearsinnyc': 7.8, 'favoritefood': 'guacamole'}, {'name': 'Tawab', 'birthdate': '04/08/1998', 'siblings': 4, 'Birthplace': 'Afghanistan', 'yearsinnyc': 0.5, 'favoritefood': 'pizza'}, {'name': 'Bridget Boakye', 'birthdate': '1990-07-13', 'siblings': 3, 'Birthplace': 'Accra', 'yearsinnyc': 15, 'favoritefood': 'Indian'}, {'name': 'Cristina', 'birthdate': '9/9/1990', 'siblings': 2, 'Birthplace': 'Spain', 'yearsinnyc': 6, 'favoritefood': 'Sushi'}, {'name': 'Danny (Haoyang) Yu', 'birthdate': '1997-03-19', 'siblings': 2, 'Birthplace': '1997-03-19', 'yearsinnyc': 0, 'favoritefood': 'Galbi'}, {'name': 'Dustin_Breitner', 'birthdate': '04/15/94', 'siblings': 2, 'Birthplace': 'New_York', 'yearsinnyc': 3, 'favoritefood': 'Pizza'}, {'name': 'Gregory DeSantis', 'birthdate': '1987-11-23', 'siblings': 2, 'Birthplace': 'Highland Park, NJ', 'yearsinnyc': 13, 'favoritefood': 'Pizza'}, {'name': 'Harrison Miller', 'birthdate': '10/2/85', 'siblings': 0, 'Birthplace': 'New Jersey', 'yearsinnyc': 0, 'favoritefood': 'Pizza'}, {'name': 'Jeremy Owens', 'birthdate': '03/30/1990', 'siblings': 0, 'Birthplace': 'Virginia', 'yearsinnyc': 6, 'favoritefood': 'Avocado'}, {'name': 'Jeremy Reikes', 'birthdate': '1-/12/1995', 'siblings': 1, 'Birthplace': 'New York City', 'yearsinnyc': 23, 'favoritefood': 'Pizza'}, {'name': 'Johnathan Peck', 'birthdate': '02-19-1994', 'siblings': 2, 'Birthplace': 'New York', 'yearsinnyc': 25, 'favoritefood': 'Moms food'}, {'name': 'Minna F', 'birthdate': '11-19-1996', 'siblings': 3, 'Birthplace': 'San Francisco', 'yearsinnyc': 1, 'favoritefood': 'sushi'}, {'name': 'Nabil Abbas', 'birthdate': '12-07-1994', 'siblings': 2, 'Birthplace': 'Long Island', 'yearsinnyc': 6, 'favoritefood': 'Gyro'}, {'name': 'Natalie Del Rossi', 'birthdate': '10-23-1994', 'siblings': 0, 'Birthplace': 'Brooklyn', 'yearsinnyc': 18, 'favoritefood': 'pizza'}, {'name': 'Remy Canario', 'birthdate': '10-11-1988', 'siblings': 0, 'Birthplace': 'New York', 'yearsinnyc': 28, 'favoritefood': 'toast'}, {'name': 'Xristos Katsaros', 'birthdate': '03-24-1986', 'siblings': 1, 'Birthplace': 'Chicago Heights, IL', 'yearsinnyc': 3, 'favoritefood': 'Pizza'}]

In [3]:
# iterate over the data and insert each student into the DB
data[0]['name']

'Sean Abu Wilson'

In [4]:
# dynamic data entry example
def dynamic_data_entry(person): # we are apssing one dic at the time 
    
    

    c.execute("""INSERT INTO students (name, birthdate, siblings, Birthplace, yearsinnyc, favoritefood) 
                VALUES (?, ?, ?, ?,?,?)""",
          (person['name'], person['birthdate'],person['siblings'], person['Birthplace'], person['yearsinnyc'],person['favoritefood'])
             )#same order or
    # you can pass the values here like exe person['name'], person['birthdate'].... PLEASE LOOK UP 
    conn.commit()
# c.close()
# conn.close()

In [5]:
for person in data:
    dynamic_data_entry(person)

In [6]:
conn.commit()

### Questions
1. What are the names of all of the students?
2. Which student has the most siblings?
3. How many students are only children?
4. Which 3 students have lived in NYC the shortest amount of time?
5. How many students are native New Yorkers?
6. Do any two students have the same favorite food?
7. Which student was born closest to the cohort's graduation date?

In [63]:
#1 
c.execute("""select name from students""").fetchall()

In [80]:
# 2
c.execute("""select name from students order by siblings desc limit 1""").fetchall()

[('Tawab',)]

In [7]:
#3
c.execute(""" select count(name) from students where siblings == 0""").fetchall()

[(20,)]

In [69]:
#4
c.execute("""select name from students where yearsinnyc = 0 limit 3 """).fetchall()

[('Danny (Haoyang) Yu',), ('Harrison Miller',), ('Danny (Haoyang) Yu',)]

In [8]:
#5 you can use  or pipe 
c.execute(""" select count(Birthplace) from students where Birthplace == 'New York City'""").fetchall()

[(5,)]

In [9]:
#6
c.execute("""select name from students where favoritefood = favoritefood""").fetchall()

[('Sean Abu Wilson',),
 ('Tawab',),
 ('Bridget Boakye',),
 ('Cristina',),
 ('Danny (Haoyang) Yu',),
 ('Dustin_Breitner',),
 ('Gregory DeSantis',),
 ('Harrison Miller',),
 ('Jeremy Owens',),
 ('Jeremy Reikes',),
 ('Johnathan Peck',),
 ('Minna F',),
 ('Nabil Abbas',),
 ('Natalie Del Rossi',),
 ('Remy Canario',),
 ('Xristos Katsaros',),
 ('Sean Abu Wilson',),
 ('Tawab',),
 ('Bridget Boakye',),
 ('Cristina',),
 ('Danny (Haoyang) Yu',),
 ('Dustin_Breitner',),
 ('Gregory DeSantis',),
 ('Harrison Miller',),
 ('Jeremy Owens',),
 ('Jeremy Reikes',),
 ('Johnathan Peck',),
 ('Minna F',),
 ('Nabil Abbas',),
 ('Natalie Del Rossi',),
 ('Remy Canario',),
 ('Xristos Katsaros',),
 ('Sean Abu Wilson',),
 ('Tawab',),
 ('Bridget Boakye',),
 ('Cristina',),
 ('Danny (Haoyang) Yu',),
 ('Dustin_Breitner',),
 ('Gregory DeSantis',),
 ('Harrison Miller',),
 ('Jeremy Owens',),
 ('Jeremy Reikes',),
 ('Johnathan Peck',),
 ('Minna F',),
 ('Nabil Abbas',),
 ('Natalie Del Rossi',),
 ('Remy Canario',),
 ('Xristos Katsaros',),
 ('Sean Abu Wilson',),
 ('Tawab',),
 ('Bridget Boakye',),
 ('Cristina',),
 ('Danny (Haoyang) Yu',),
 ('Dustin_Breitner',),
 ('Gregory DeSantis',),
 ('Harrison Miller',),
 ('Jeremy Owens',),
 ('Jeremy Reikes',),
 ('Johnathan Peck',),
 ('Minna F',),
 ('Nabil Abbas',),
 ('Natalie Del Rossi',),
 ('Remy Canario',),
 ('Xristos Katsaros',),
 ('Cristina',),
 ('Cristina',),
 ('Sean Abu Wilson',),
 ('Tawab',),
 ('Bridget Boakye',),
 ('Cristina',),
 ('Danny (Haoyang) Yu',),
 ('Dustin_Breitner',),
 ('Gregory DeSantis',),
 ('Harrison Miller',),
 ('Jeremy Owens',),
 ('Jeremy Reikes',),
 ('Johnathan Peck',),
 ('Minna F',),
 ('Nabil Abbas',),
 ('Natalie Del Rossi',),
 ('Remy Canario',),
 ('Xristos Katsaros',)]

In [76]:
c.execute("""select name from students where birthdate == 9/13 """).fetchall()
#need work done the data is not corrrect

[]

In [ ]:
#answers
1. 
c.execute('''select name from students''').fetchall()

2. 
c.execute("""SELECT name, siblings
FROM students
WHERE siblings = (SELECT MAX(siblings) FROM students);""").fetchall()
[('Florencia Leoni', 4),
 ('Mohamad Eldebek', 4),
 ('Menachi Korn', 4),
 ('Miguel Peña', 4)]

3. 
c.execute("""SELECT COUNT(name)
FROM students
WHERE siblings = 0;""").fetchone()
(3,)

4. 
c.execute('''
SELECT name, years_in_nyc from students order by 2 limit 3
''').fetchall()

5. 
c.execute('''select  name, birth_place from Students where birth_place like '%NY' ''').fetchall()
[('David Miller', 'New York, NY'),
 ('Amy Li', 'New York, NY'),
 ('Akshay Sharma', 'New York, NY'),
 ('Adam Dick', 'New York, NY'),
 ('Alex Mitrani', 'New York, NY'),
 ('Nicole Roach', 'Brooklyn, NY')]

6. 
c.execute("""SELECT favorite_food, count(favorite_food)
FROM students
GROUP BY favorite_food
HAVING count(favorite_food) > 1
""").fetchall()
[('pizza', 2), ('steak', 2)]


7. 
c.execute('''
SELECT name,
abs(julianday('2018-' || substr(birthdate,1,2) || '-' || substr(birthdate,4,2)) - julianday('2018-06-19'))
FROM students
ORDER BY 2
LIMIT 1
''').fetchall()